@import url('https://fonts.googleapis.com/css?family=Noto+Sans:300,400');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', 'Roboto', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    background-color: #fff;
}

.container {
    width: 40%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
    color: inherit;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

.title > h1 {
    font-weight: normal;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.title > .sub-title {
    font-weight: normal;
    font-size: 1.3rem;
    color: #757575;
}

.features {
    list-style-position: inside;
    margin-bottom: 50px;
}

.features li:not(:last-child) {
    margin-bottom: 5px;
}

.links > a {
    display: inline-block;
    padding: 10px 20px;
    color: #212121;
    border-radius: 30px;
    border: #757575 solid 1px;
    transition: all 0.2s ease;
}

.links > a:hover {
    background-color: #212121;
    color: #fff;
}

.links > a:not(:last-child) {
    margin-right: 10px;
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 780px) {
    .links > a {
        display: block;
    }

    .links > a:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px; 
    }
}

@media only screen and (max-width: 568px) {
    .container {
        width: 90%;
    }
}